<!-- ============================================================== -->
<!-- Stats box -->
<!-- ============================================================== -->
<div *ngIf="user.role === 'ADMIN'" class="row">

    <div class="col-lg-3">
        <app-cards [coleccion]="'clientes'"></app-cards>
    </div>

    <div class="col-lg-3">
        <app-cards [coleccion]="'usuarios'"></app-cards>
    </div>

</div>
<!-- ============================================================== -->
<!-- Sales overview chart -->
<!-- ============================================================== -->